body {
    margin: 0;
    font-family: sans-serif;
    background: #f5f1ea;
}

header {
    background: #1e3550;
    color: white;
    padding: 15px;
    font-weight: bold;
}

.container {
    max-width: 900px;
    margin: 30px auto;
    background: white;
    padding: 30px;
    border-radius: 10px;
}

.btn {
    background: orange;
    color: white;
    padding: 15px 25px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

.hidden {
    display: none;
}